 

            
             img {
             display: block;
             margin-left: auto;
             margin-right: auto;
             width: 20%;
                }

                       
          /*.App-logo {
          display: block !important;
          margin:0px !important;
          width: 20% !important;
          text-align:center !important;
          height: 20px !important;
                }*/

            * {
                font-family: "B Nazanin";
                /*src: url("//db.onlinewebfonts.com/t/3671adca6f650c92b83f906e49656986.eot");
                src: url("//db.onlinewebfonts.com/t/3671adca6f650c92b83f906e49656986.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3671adca6f650c92b83f906e49656986.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3671adca6f650c92b83f906e49656986.woff") format("woff"), url("//db.onlinewebfonts.com/t/3671adca6f650c92b83f906e49656986.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3671adca6f650c92b83f906e49656986.svg#B Nazanin") format("svg");*/
            }


            .App-title {
                position: static;
                text-align: center;
            }
            
            .App {
                text-align: center;
            }

            body {
                margin: 10px;
                padding: 10px;
                font-family: B-Nazanin;
            }


            .App-header {
                background-color: cornflowerblue;
                height: 250px;
                padding: 20px;
                color: white;
            }

            header {
                display: block;
            }

            .App {
                text-align: center;
            }

        
        //
        //
        //
        //
        // end of style